body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  transition: 0.4s;
}
.nav-link:hover {
  font-size: 18px;
  transition: 0.4s;
  box-shadow: 1px 1px 4px 5px rgba(104, 102, 102, 0.1);
}

.btnGoUp {
  position: fixed;
  bottom: 70px;
  right: 70px;
  width: 130px;
  height: 130px;
  display: none;
  border-radius: 20px;
  background-color: aqua;
}
